@model Notes_Marketplace.Models.AddNotes

<!DOCTYPE html>
<html lang="en">

<head>
    @*Meta tag*@
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    @*Title*@
    <title>Add Note</title>

    @* Favicon*@
    <link rel="shortcut icon" href="~/images/favicon.ico">

    @*Google Fonts*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    @*Fontawesome*@
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">

    @*Bootstrap CSS*@
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">

    @*International CSS*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />

    @* Custom CSS*@
    <link rel="stylesheet" href="~/css/addnote.css">

    @*Responsive CSS*@
    <link rel="stylesheet" href="~/css/addnote-responsive.css">

</head>

<body data-spy="scroll" data-target=".navbar">

    @*Navigation*@
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="logo-nav" src="~/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span id="mobile-nav-open-btn">&#9776;</span>
                <span id="mobile-nav-close-btn">&times;</span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("SearchNotes","SearchNotes")">Search Notes </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dashboard","Dashboard")">Sell Your Notes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BuyerRequest","BuyerRequest")">Buyer Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("FAQ","FAQ")">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs","ContactUs")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/user-img.png" alt="user">
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item same" href="@Url.Action("UserProfile","UserProfile")">My Profile</a>
                                <a class="dropdown-item same" href="#">My downloads</a>
                                <a class="dropdown-item same" href="#">My Sold Notes</a>
                                <a class="dropdown-item same" href="#">My Rejected Notes</a>
                                <a class="dropdown-item same" href="#">Change Password</a>
                                <a class="dropdown-item diff" href="@Url.Action("Logout", "SignUp")">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="btn" id="btn-nav" title="Logout" role="button" onclick="location.href='@Url.Action("Logout", "SignUp")'">Logout</a>
            </div>
        </div>
    </nav>

    <!-- home -->
    <section id="home">
        <div id="home-content">
            <div class="container-fluid">
                <div class="text-center">
                    <h3>Add Notes</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Details -->
    <section id="details">
        <div class="container-fluid">
            @using (Html.BeginForm("AddNotes", "AddNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <!-- Basic Details -->
                <div class="form-header">
                    <h3>Basic Note Details</h3>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="title">Title*</label>
                            @Html.ValidationMessageFor(x => x.Title, "")
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "title", @placeholder = "Enter your notes title" })
                            @*<input type="text" class="form-control" id="title" placeholder="Enter your notes title" required>*@
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="form-category" class="form-group">
                            <label for="category">Category*</label>
                            <div class="cos">
                                @Html.ValidationMessageFor(x => x.Category, "")
                                @Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.Category, "Value", "Text"), "Select your category", new { @class = "form-control", @id = "category" })
                                @*<select class="form-control" id="category" name="category">
                                <option>Select your category</option>
                                <option>IT</option>
                                <option>Commerce</option>
                                <option>Science</option>
                            </select>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="form-pic" class="form-group">
                            <label>Display Picture</label>
                            <div class="image-upload form-control text-center">
                                <label for="file-input1">
                                    <img src="~/images/upload-file.png" alt="upload"><br>
                                    Upload a picture
                                </label>
                                @Html.TextBoxFor(x => x.DisplayPicture, new { @class = "form-control", @id = "file-input1", @onchange = "return picturevalidation()", type = "file" })
                                @*<input type="file" class="form-control" id="file-input1" accept="image/*">*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="form-note" class="form-group">
                            <label>Upload Notes*</label>

                            <div class="image-upload form-control text-center">
                                <label for="file-input2">
                                    <img src="~/images/upload-note.svg" alt="upload"><br>
                                    Upload your notes
                                </label>
                                @Html.ValidationMessageFor(x => x.UploadNotes, "")
                                @Html.TextBoxFor(x => x.UploadNotes, new { @class = "form-control", @id = "file-input2", @onchange = "return notesvalidation()", type = "file", @multiple = "multiple" })
                                @*<input type="file" class="form-control" id="file-input2">*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="form-type" class="form-group">
                            <label for="type">Type</label>
                            <div class="cos">
                                @Html.DropDownListFor(x => x.NoteType, new SelectList(ViewBag.Type, "Value", "Text"), "Select your category", new { @class = "form-control", @id = "type" })
                                @*<select class="form-control" id="type" name="type">
                                <option>Select your note type</option>
                                <option>IT</option>
                                <option>Commerce</option>
                                <option>Science</option>
                            </select>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="pages">Number of Pages</label>
                            @Html.ValidationMessageFor(x => x.NumberofPages, "")
                            @Html.TextBoxFor(x => x.NumberofPages, new { @class = "form-control", @id = "pages", @placeholder = "Enter number of note pages" })
                            @*<input type="number" class="form-control" id="pages" placeholder="Enter number of note pages">*@
                        </div>
                    </div>
                    <div class="col-md-12 textarea">
                        <label for="description">Description*</label>
                        @Html.ValidationMessageFor(x => x.Description, "")
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @id = "description", @placeholder = "Enter your description" })
                        @*<textarea class="form-control" id="description" placeholder="Enter your description" rows="5"></textarea>*@
                    </div>
                </div>


                <!-- Institution Details -->
                <div class="form-header">
                    <h3>Institution Information</h3>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-country">
                            <label for="country">Country</label>
                            <div class="cos">
                                @Html.DropDownListFor(x => x.Country, new SelectList(ViewBag.Country, "Value", "Text"), "Select your country", new { @class = "form-control", @id = "country" })

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="institution">Institution Name</label>
                            @Html.TextBoxFor(x => x.UniversityName, new { @class = "form-control", @id = "institution", @placeholder = "Enter your institution name" })
                            @*<input type="text" class="form-control" id="institution" placeholder="Enter your institution name">*@
                        </div>
                    </div>
                </div>
                <!-- Course Details -->
                <div class="form-header">
                    <h3>Course Details</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="cname">Course Name</label>
                            @Html.TextBoxFor(x => x.Course, new { @class = "form-control", @id = "cname", @placeholder = "Enter your course name" })
                            @*<input type="text" class="form-control" id="cname" placeholder="Enter your course name">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="ccode">Course Code</label>
                            @Html.TextBoxFor(x => x.CourseCode, new { @class = "form-control", @id = "ccode", @placeholder = "Enter your course code" })
                            @*<input type="text" class="form-control" id="ccode" placeholder="Enter your course code">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-text">
                            <label for="pname">Professor / Lecturer</label>
                            @Html.TextBoxFor(x => x.Professor, new { @class = "form-control", @id = "pname", @placeholder = "Enter your professor name" })
                            @*<input type="text" class="form-control" id="pname" placeholder="Enter your professor name">*@
                        </div>
                    </div>
                </div>

                <!-- Selling Details -->
                <div class="form-header">
                    <h3>Selling Information</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="check">
                            <div>
                                <label>Sell For*</label>
                            </div>

                            <label class="check">
                                Free
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check">
                                Paid
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group form-text">
                            <label for="price">Sell Price*</label>
                            @Html.ValidationMessageFor(x => x.SellingPrice, "")
                            @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control", @id = "price", @placeholder = "Enter your price" })
                            @*<input type="text" class="form-control" id="price" placeholder="Enter your price">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="form-file" class="form-group">
                            <label>Note Preview</label>
                            <div class="file-upload form-control text-center">
                                <label for="file-input3">
                                    <img src="~/images/upload-file.png" alt="upload"><br>
                                    Upload a file
                                </label>
                                @Html.ValidationMessageFor(x => x.NotesPreview, "")
                                @Html.TextBoxFor(x => x.NotesPreview, new { @class = "form-control", @id = "file-input3", type = "file" })
                                @*<input type="file" class="form-control" id="file-input3">*@
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <button type="submit" class="btn btn-form">Save</button>
                    <a data-target="#confirmation" role="button" data-toggle="modal"> <button type="submit" class="btn btn-form">Publish</button></a>
                </div>
                <div class="modal fade " id="confirmation" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog pop-up">
                        <div class="modal-content">
                            <div class="modal-confirm-body">
                                <div>
                                    <p class="confirm-text pop-up-text" style="padding:10px 25px 0 25px">
                                        Publishing this note will send note to administrator for review,
                                        once administrator review and approve then this note will be published to portal. Press yes to continue.
                                    </p>

                                    <div class="btn-confirm" style="padding:10px">
                                        <a class="btn btn-yes" href="@Url.Action("PublishNote")" id="confirmationbutton" role="button">YES</a>
                                        <a class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">CANCEL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-12">
                    <div id="copyright">
                        <p>
                            Copyright &copy; Tatwasoft All rights reserved.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 col-12">
                    <ul class="social-list">
                        <li><a href="#"><img src="~/images/facebook.png" alt="facebook" class="img-responsive img-circle"></a></li>
                        <li><a href="#"><img src="~/images/twitter.png" alt="twitter" class="img-responsive img-circle"></a></li>
                        <li><a href="#"><img src="~/images/linkedin.png" alt="linkedin" class="img-responsive img-circle"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @* jQuery*@
    <script src="~/js/jquery.min.js"></script>

    @*Bootstrap JS*@
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    @*International JS*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js" integrity="sha512-DNeDhsl+FWnx5B1EQzsayHMyP6Xl/Mg+vcnFPXGNjUZrW28hQaa1+A4qL9M+AiOMmkAhKAWYHh1a+t6qxthzUw==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" integrity="sha512-BNZ1x39RMH+UYylOW419beaGO0wqdSkO7pi1rYDYco9OL3uvXaC/GTqA5O4CVK2j4K9ZkoDNSSHVkEQKkgwdiw==" crossorigin="anonymous"></script>


    @*Custom JS*@
    <script src="~/js/addnote.js"></script>

</body>

</html>